Every viewer has the following parameters
delim: a randomised string to differentiate multiple instances of same viewer
remoteAddress: the remote address of the visitor
UA: user agent of the visitor
viewerID: unique viewer ID of the viewer
hostURL: the URL the viewer reached for

Cookie stores:
eg. {"HOST_URL": hostURL, "REMOTE_ADDRESS": remoteAddress, "USER_AGENT": UA, "VIEWER_ID": viewerID, "DELIM":delim}
combined into a fernet encoded string

and Header stores the delim value for unique request
"DELIM": delim